{% extends 'base.html.twig' %}

{% block title %} Гостевая книга {% endblock %}
{% block header %} Гостевая книга {% endblock %}
{% block body %}

	{% if isPermission('guestbook-write') %}
		<form method='post' enctype='multipart/form-data' action='{{ path('guestbook') }}'>
			{% include 'bbcode.html.twig' %}
			<textarea name='message'>{{ lastMessage }}</textarea>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'><br>
			<input type='submit' name='submit_guestbook' value='Отправить'>
		</form>
	{% endif %}

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}<br>

	{# hide rate #}
	{% set rate_show = 1 %}
	{# page navigation #}
	{% set page_name = 'guestbook' %}
	{% include 'guestbook/_guestbook.html.twig' %}

{% endblock %}