// guestbook
.guestbook {
	background-color: $color_white;
	box-shadow:  0 0 5px $color_grey3;
	border-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.guestbook-head {
		flex: 0 1 170px;
		font-family: $font_header;		
		text-align: center;
		padding: 10px 3px 3px 3px;
		box-sizing: border-box;
		@media only all and (max-width: $site_width_collapse) {
			display: flex;
			flex: 0 0 100%;
			padding: 10px 3px 3px 6px;			
			text-align: left;
			flex-wrap: wrap;
			background-color: $color_grey1;
		}
		.guestbook-image img {
			border-radius: 3px;
			max-width: 155px;
			max-height: 200px;
			@media only all and (max-width: $site_middle_collapse) {
				max-width: 140px;
				max-height: 180px;
			}			
			@media only all and (max-width: $site_width_collapse) {
				max-width: 50px;
				max-height: 50px;
				order: 1;
			}
		}
		.guestbook-head-user, .guestbook-head-user-normal {
			margin-bottom: 5px;
			font-weight: 600;
			font-size: 1.3em;
			@media only all and (max-width: $site_width_collapse) {
				padding-left: 10px;
				font-size: 1em;
				order: 2;
			}
		}
		.guestbook-head-user-normal {
			font-size: .88em;
			@media only all and (max-width: $site_width_collapse) {
				padding-left: 10px;
				font-size: .8em;
				order: 2;
			}			
		}
		.guestbook-post-count {
			font-size: .9em;
			@media only all and (max-width: $site_width_collapse) {
				display: none;
			}
		}
		.guestbook-post-count-hidden {
			display: none;
			font-size: .9em;
			font-weight: normal;
			@media only all and (max-width: $site_width_collapse) {
				display: block;
			}			
		}

		.guestbook-head-star {
			font-size: .9em;
			color: #CAA91A;
			margin: -5px 0 5px 0;
			@media only all and (max-width: $site_width_collapse) {
				display: none
			}
		}
		.guestbook-head-rate div {
			font-size: .95em !important;
			margin-top: 3px;
			@media only all and (max-width: $site_width_collapse) {
				display: none
			}			
		}	
	}
	.guestbook-content {
		flex: 1 1 230px;
		padding: 5px;
		overflow: hidden;
		word-wrap: break-word;
		word-break: break-all;
		word-break: break-word; /* для Chrome */		
		.guestbook-content-head {
			font-size: .8em;
			color: $color_grey3;
			margin-bottom: 10px;
			.guestbook-content-quote {
				float: right;
				cursor: pointer;
				color: $color_grey_light;
				font-size: .95em;
			}
			.guestbook-content-date {
				color: $color_grey_light;
				font-size: .95em;
			}
		}
		.guestbook-content-post {
			font-size: 1em;
		}
	}
	.guestbook-rate-panel {
		color: $color_grey;
		font-weight: 600;
		font-size: .9em;
		min-height: 10px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		div {
			width: 3em;
			text-align: right;
			padding-right: 10px;
		}
		.rate-up i, .rate-down i {
			cursor: pointer;
		}
		.rate-panel-users {
			width: 100%;
			padding: 3px 5px;
			font-size: .85em;
			display: none;
			background: #FAFAFA;
			div {
				width: 100%;
			}
			.rate-panel-up {
				color: $green;
			}
			.rate-panel-down {
				color: $red;
			}			
		}
	}
}

.quote:hover {
	color: $color_grey;
}

.bbunderline {
	text-decoration: underline;
}

.quote-author {
	margin-top: 5px;
	display: inline-block;
	padding: 5px 3px 5px 7px;
	box-sizing: border-box;	
	font-style: italic;
	font-weight: 600;
	color: $color_grey3;
	width: 100%;
	font-size: .8rem;
	background-color: #ededed;
}

.bookquote {
	padding: 3px 3px;
	background: #FBFBFB;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 0 0 5px 0;
	border: solid 1px #ededed;
	border-top: none;
	margin-top: -1px;
	margin-bottom: -10px;
	font-size: .8rem;
	width: 100%;
	word-wrap: break-word;
	word-break: break-all; /* для Opera и FireFox */
	word-break: break-word; /* для Chrome */	
}

.guestbook-default-image {
	font-size: 3em;
}

.hidden {
	display: none;
}

// bb tags
.bbpanel i {
	text-align: center;
	min-width: 18px;
	border: 1px solid $color_grey_light;
	color: $color_grey_light;
	padding: 2px;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 2px;
}

.smilepanel {
	display: none;
	cursor: pointer;
}

.headsmile {
	cursor: pointer;
}

.smile {
	vertical-align: middle;
}

.spoiler {
	width: 100%;
	display: block
}

.sign, .spoiler-name {
	font-weight: bold;
	cursor: pointer;
	color: #848484;
}

.spoiler-body {
	display: none;
	padding: 3px 3px;
	background: #FBFBFB;
	box-sizing: border-box;
	border: solid 1px #ededed;
	margin-top: -1px;
	font-size: .8rem;
	width: 100%;
	word-wrap: break-word;
	word-break: break-all; /* для Opera и FireFox */
	word-break: break-word; /* для Chrome */		
}

.left {
	text-align: left;
	display: inline-block;
	width: 100%;
}

.right {
	display: inline-block;
	text-align: right;
	width: 100%;
}

.center {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.rate-high, .rate-middle, .rate-low {
	color: $green;
	font-family: arial;
	font-weight: 600;
	// font-size: .8em;
}

.rate-middle {
	color: $gray_lighter;
}

.rate-low {
	color: $red;	
}

.rate-level {
	cursor: pointer;
}

.inline-block {
	display: inline-block;
}

.guestbook-panel-achives {
	display: flex;
	position: absolute;
	margin-top: -20px;
	margin-left: 5px;
	@media only all and (max-width: $site_middle_collapse) {
		margin-top: -17px;
	}	
	img {
		max-width: 34px;
		max-height: 34px;
		margin-right: 5px;
		@media only all and (max-width: $site_middle_collapse) {
			max-width: 25px;
			max-height: 25px;
		}
	}
}