.users {
	display: flex;
	flex-wrap: wrap;
	font-family: $font_header;
	.user {
		display: flex;
		flex: 1 1 220px;
		max-width: 250px;
		height: 110px;
		border: solid 1px #ccc;
		margin: 5px;
		.user-image {
			padding: 4px 0 0 4px;
			width: 60px;
			height: 150px;
			img {
				max-width: 100px;
				max-height: 100px;
			}
			div {
				margin: 6px 0 0 3px;
				border-radius: 25px;	
				width: 50px !important;
				height: 50px !important;
				overflow: hidden;
			}
		}
		.user-info {
			padding: 5px 5px 5px 0;
			.user-info-username {
				font-size: 1.2em;
			}
			.user-info-username-small {
				font-size: 1.1em;
			}			
			.user-info-other {
				color: $color_grey3;
				font-size: .9em;
			}
		}
	}
}

.image-width {
	img {
		height: 50px !important;
	}
}

.image-height {
	img {
		width: 50px !important;
	}
}

.users-panel-sort {
	text-align: right;
	background: $color_grey2;
	margin: 5px;
	padding: 3px;
	font-size: .8em;
}

.profile {
	display: flex;
	.profile-info {
		flex: 1 0 200px;
	}
	.p-wide {
		flex-basis: 400px;
	}
	.p-center {
		text-align: center;
	}
	ul li {
		border-bottom: solid 1px $color_grey2;
		padding: 5px 0;
	}
	ul li:nth-child(1) {
		border-bottom: none;
		padding-bottom: 10px;
		padding-top: 0;
	}
}

.fa-user {
	margin-right: 7px;
}

.h-username {
	font-size: 2.2em;
	font-family: $font_header;
	margin: 0;
	padding: 0;
}

.user-panel-achives {
	img {
		max-width: 30px;
		max-height: 30px;
	}
}