{% extends 'base.html.twig' %}

{% block title %} Админка: Штаб {% endblock %}
{% block header %} Админка {% endblock %}
{% block body %}
	{% include 'admin/_panel.html.twig' %}
	<h4>Штаб</h4>

	{% if isPermission('guestbook-write') %}
		<form method='post' action='{{ path('admin_guestbook') }}'>
			{% include 'bbcode.html.twig' %}
			<textarea name='message'>{{ lastMessage }}</textarea>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'><br>
			<input type='submit' name='submit_guestbook' value='Отправить'>
		</form>
	{% endif %}

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}<br>

	{# hide rate #}
	{% set rate_show = 0 %}
	{# page navigation #}
	{% set page_name = 'admin_guestbook' %}
	{% include 'guestbook/_guestbook.html.twig' %}

{% endblock %}