{% extends 'base.html.twig' %}

{% block title %} Админка: пользователи {% endblock %}
{% block header %} Пользователи {% endblock %}
{% block body %}
	{% include 'admin/_panel.html.twig' %}
	
	{% for user in users %}
	<div class="admin-panel-wrapper">
		<div class='admin-panel-users'>
			{{ user.username }}
		</div>
		<div class="admin-panel-info">
			<a href="#">Перейти в профиль</a>
			<br>
			{% if isAccess('ROLE_SUPER_ADMIN') or hierarchyAccess(user.id) or app.user.id == user.id %}
				<a href="{{ path('admin_permissions', {'id': user.id}) }}">Разрешения</a>
			{% endif %}
			<div class="user-last-info">las</div>
		</div>
	</div>		
	{% endfor %}

{% endblock %}