{% extends 'base.html.twig' %}

{% block title %} Турнир {% endblock %}
{% block header %} Турнир {% endblock %}
{% block body %}

	<a href="{{ path('tournaments_list') }}">Назад к </a>
	<br><br>

{% endblock %}