{% extends 'base.html.twig' %}

{% block title %} Восстановление пароля {% endblock %}
{% block header %} Восстановление пароля {% endblock %}
{% block body %} 

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}
		
	<form action="{{ path('auth_reset_password') }}" method='post'>
		<label>Логин или email <br><input class='l-middle' type='text' name='username' value="{{ lastUsername }}"></label>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_reset_password' value='Сбросить пароль'>
	</form>

{% endblock %}