{% extends 'email/email.html.twig' %}

{% block title %} Регистрация {% endblock %}

{% block body %}
	Поздравляем с регистрацией на сайте Sodomania.ru!<br>
	Для завершения регистрации пройдите по <a href="{{ url('auth_registration_confirmation', {'token': data }) }}">ссылке</a>

{% endblock %}