{% extends 'email/email.html.twig' %}

{% block title %} Восстановление пароля {% endblock %}

{% block body %}
	Вы запросили восстановление пароля.<br>
	Для того, чтобы установить новый пароль, пройдите по <a href="{{ url('auth_reset_password_confirmation', {'token': data }) }}">ссылке</a>

{% endblock %}